<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge"
        http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0"
        name="viewport">
  <link href="<%= BASE_URL %>favicon.ico"
        rel="icon">
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        rel="stylesheet">
  <script src="https://js.stripe.com/v3/"></script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
  <title>heavenandhearts.com</title>
</head>
<body>
  <noscript><strong>We're sorry but heavenandhearts.com doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
  <div id="app"></div><!-- built files will be auto injected -->
</body>
</html>
