<template>
  <div>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>

    <!-- Your customer chat code -->
    <div
      class="fb-customerchat"
      attribution="setup_tool"
      page_id="506665699854317"
      theme_color="#d696bb"
    ></div>
  </div>
</template>

<script>
/* eslint-disable */
window.fbAsyncInit = function() {
  FB.init({
    xfbml: true,
    version: "v5.0"
  });
};

(function(d, s, id) {
  var js,
    fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
  fjs.parentNode.insertBefore(js, fjs);
})(document, "script", "facebook-jssdk");

// Vue Instance
export default {};
</script>

<style scoped></style>
